.delete-list-page{
    display:flex;
    min-height:100vh;
    background:#FFD3AC;
}

.delete-list-content{
    flex:1;
    background:#FFF7F1;
    padding:45px;
}

.delete-list-content h1{
    color:#E39A7B;
    font-size:36px;
    margin-bottom:8px;
}

.delete-list-content p{
    color:#666;
    margin-bottom:35px;
}

.delete-list{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.delete-card{

    background:#FFFFFF;

    border-radius:18px;

    padding:22px 28px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    box-shadow:0 8px 18px rgba(0,0,0,.08);

    transition:.3s;
}

.delete-card:hover{

    transform:translateY(-2px);

    border:2px solid #FFB5AB;
}

.delete-card h3{

    color:#E39A7B;

    margin-bottom:6px;

    font-size:22px;
}

.delete-card span{

    color:#777;

    font-size:15px;
}

.delete-btn{

    padding:12px 24px;

    border:none;

    border-radius:12px;

    background:#FFB5AB;

    color:white;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.delete-btn:hover{

    background:#E39A7B;
}